@model IntegratedAuthenticationModel
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Integrated Authentication";
}

<h2>User WindowsIdentity.Name</h2>
<pre>@Model.Name</pre>

<h2>User WindowsIdentity.User</h2>
<pre>@Model.Sid</pre>

<h2>User WindowsIdentity.ImpersonationLevel</h2>
<pre>@Model.ImpersonationLevel</pre>

<h2>User WindowsIdentity.Groups</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Sid</th>
    </tr>
    @foreach (var g in Model.Groups)
    {
        <tr>
            <td>@g.Name</td>
            <td>@g.Sid</td>
        </tr>
    }
</table>

<h2>User.Claims</h2>
<table>
    <tr>
        <th>Claim</th>
        <th>Value</th>
    </tr>
    @foreach (var claim in User.Claims)
    {
        <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
</table>

<h2>Authentication Properties</h2>
<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <tr>
            <td>@prop.Key</td>
            <td>@prop.Value</td>
        </tr>
    }
</table>

<h1>User whoami -all</h1>
<pre>@Model.Whoami</pre>

<h1>Environment Variables</h1>
<pre>@Model.EnvironmentVariables</pre>
